body {
    background-color: #112;
}

#snowContainer {
    width: 500px;
    height: 500px;
    border: 2px solid darkred;
}

#snowContainer .flake {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    border-radius: 100%;

}
