body {
    background-color: #223;
    font-family: Arial;
    margin: 0;
}

a {
    text-decoration: none;
}
#navbar {
    background-color: #112;
    padding: 1em;
}
#navbar a {
    color: white;
    font-size: 1.25em;
    padding: .5em;
}

button {
    background-color: #223;
    font-size: 1.25em;
    padding: .5em;
    border-radius: 20px;
    border-top: #223;
    color: rgba(109, 109, 218, 0.503);
}
#navbarDrop{
    
    text-align: right;
    white-space: nowrap;
    padding: 2em;

}
